@model RD.Models.User;

@{
    ViewBag.Title = "Профиль";
    Layout = "_Layout";

}

<h4>Профиль пользователя</h4>

@*<form method="post" asp-action="ChangeLogin" class="my-5 col-5" style="border-style: dashed; border-width:thin; border-color: #343a40; padding: 8px; ">
    <table>
        <h4>Профиль пользователя</h4>

        <tr>
            <td style="padding: 4px;" id="username">
                @ViewBag.UserName
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">
                <input type="text" id="newLogin" />
            </td>
        </tr>

        <tr>
            <td style="padding: 2px;">
                <a onclick="changeLogin()" href="#">Изменить логин</a>
            </td>
            <td></td>
        </tr>

    </table>
</form>*@


<form method="post" class="my-5 col-5" style="border-style: dashed; border-width:thin; border-color: #343a40; padding: 8px; ">
    <table>
        
        <h5>Смена пароля</h5>

        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="Текущий пароль" id="oldPassword" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="Новый пароль" id="newPassword" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="Повторить новый пароль" id="newPassword2" />
            </td>
        </tr>

        <tr>
            <td style="padding: 2px;">
                <a onclick="changePassword()" href="#">Изменить пароль</a>
            </td>
            <td></td>
        </tr>

    </table>
</form>


<script type="text/javascript">
    function changeLogin() {
        var newLogin = document.getElementById('newLogin').value;
        $.ajax({
            url: '/change_login/' + newLogin,
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload();
            },
            error: function () {
                alert("Ошибка выполнения!")
            }
        })
    }
</script>

<script type="text/javascript">
    function changePassword() {

        var oldPassword = document.getElementById('oldPassword').value;
        var newPassword = document.getElementById('newPassword').value;
        var newPassword2 = document.getElementById('newPassword2').value;

        $.ajax({
            url: '/change_password/' + oldPassword + '/' + newPassword + '/' + newPassword2,
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload()
            },
            error: function () {
                alert("Ошибка выполнения!")
            }
        })
    }
</script>
