@model RD.Models.User;

@{
    ViewBag.Title = "Профиль пользователя";
    Layout = "_Layout";

}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<h3 style="padding:4px;">Профиль пользователя</h3>

<h5 style="padding:4px;">@ViewBag.FullName</h5>

<form method="post" asp-action="ChangePassword" name="ChangePasswordForm">

    <table>

        <h5 style="padding:4px;">Изменить пароль</h5>

        <tr>
            <td style="padding:4px;">
                <input type="password" placeholder="Текущий пароль" name="oldPassword" id="oldPassword" />
            </td>
        </tr>

        <tr>
            <td style="padding:4px;">
                <input type="password" placeholder="Новый пароль" name="newPassword" id="newPassword" />
            </td>
        </tr>

        <tr>
            <td style="padding:4px;">
                <input type="password" placeholder="Повторить новый пароль" name="newPassword2" id="newPassword2" />
            </td>
        </tr>

        <tr>
            <td style="padding:4px;">
                <a class="btn btn-outline-dark" href="/" style="text-align:center">Отмена</a>
                <button class="btn btn-outline-primary submitBtn" type="submit" style="text-align:center">Изменить пароль</button>
            </td>
        </tr>

    </table>

</form>

@if (ViewBag.Status == "success")
{
    <script>
        $.get(this.href, function () {
            $('#dialogContent').html('<div class="modal-content"> <div class="modal-header"><h4>Сообщение</h4><button class="close" data-dismiss="modal" area-hidden="true">x</button></div><div class="modal-body"> <dl class="dl-horizontal"> <dt>Статус:</dt> <dd>Пароль был изменен</dd> </dl> </div> </div>');
            $('#modDialog').modal('show');
        });
    </script>

    ViewBag.Status = "";
}

else if (ViewBag.Status == "error")
{
    <script>
        $.get(this.href, function () {
            $('#dialogContent').html('<div class="modal-content"> <div class="modal-header"><h4>Ошибка</h4><button class="close" data-dismiss="modal" area-hidden="true">x</button></div><div class="modal-body"> <dl class="dl-horizontal"> <dt>Ошибка:</dt> <dd>Пароль не был изменен</dd> </dl> </div> </div>');
            $('#modDialog').modal('show');
        });
    </script>

    ViewBag.Status = "";
}



<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".submitBtn").click(function (e) {

            var oldPassword = document.getElementById('oldPassword').value;
            var newPassword = document.getElementById('newPassword').value;
            var newPassword2 = document.getElementById('newPassword2').value;

            if (oldPassword == "") {
                e.preventDefault();
                $.get(this.href, function () {
                    $('#dialogContent').html('<div class="modal-content"> <div class="modal-header"><h4>Ошибка</h4><button class="close" data-dismiss="modal" area-hidden="true">x</button></div><div class="modal-body"> <dl class="dl-horizontal"> <dt>Ошибка:</dt> <dd>Введите старый пароль</dd> </dl> </div> </div>');
                    $('#modDialog').modal('show');
                });
            }

             else if (newPassword == "" || newPassword2 == "") {
                e.preventDefault();
                $.get(this.href, function () {
                    $('#dialogContent').html('<div class="modal-content"> <div class="modal-header"><h4>Ошибка</h4><button class="close" data-dismiss="modal" area-hidden="true">x</button></div><div class="modal-body"> <dl class="dl-horizontal"> <dt>Ошибка:</dt> <dd>Введите новый пароль</dd> </dl> </div> </div>');
                    $('#modDialog').modal('show');
                });
            }

            else if (newPassword != newPassword2) {
                e.preventDefault();
                $.get(this.href, function () {
                    $('#dialogContent').html('<div class="modal-content"> <div class="modal-header"><h4>Ошибка</h4><button class="close" data-dismiss="modal" area-hidden="true">x</button></div><div class="modal-body"> <dl class="dl-horizontal"> <dt>Ошибка:</dt> <dd>Пароли не совпадают</dd> </dl> </div> </div>');
                    $('#modDialog').modal('show');
                });

            }

        });
    })
</script>
