@model RD.Models.File;

@{
    ViewBag.Title = "Добавление файла";
    Layout = "_Layout";
}

<form method="post" asp-action="File" class="my-2 col-10" style="border-style: dashed; border-width:thin; border-color: #343a40; padding: 8px; ">


    <table>

        <h2>Добавление документа</h2>

        @Html.HiddenFor(m => m.Id)

        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="Инвентарный номер" name="InventoryNum" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Дата поставки" name="ReceiptDate" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Оригинал/подлинник" name="DocType" />
            </td>
        </tr>


        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="Обозначение" name="Designation" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Наименование документа" name="NameDoc" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="№ гос регистрации" name="DocType" />
            </td>
        </tr>



        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="Структурное подразделение" name="ExecutiveDepartment" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Руководиетель" name="FioManager" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Материально-отвественный" name="ResponsiblePerson" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="Количество листов" name="SheetNumber" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Количество копий" name="NumCopies" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Кем сдан:" name="ResponsiblePerson" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="Кем принят" name="WhoAccepted" />
            </td>

            <td style="padding: 4px;">
                <input type="text" placeholder="Примечание" name="Note" />
            </td>

        </tr>

        <tr>
            <td style="padding: 4px;">
            </td>

            <td style="padding: 4px;">
                <input type="button" value="Отмена" onClick='location.href="/"' />
                <input class="btn btn-primary" type="submit" value="Добавить документ" />
            </td>

            <td style="padding: 4px;">
            </td>
        </tr>

    </table>
</form>
