<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css" />

    <script src="~/js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #3949AC;">
            <div class="container-fluid" style="background-color: #3949AC;">
                <div class="navbar-collapse collapse d-sm-inline-flex ">

                    @if (User.Identity.Name == "admin")
                    {

                    <ul class="navbar-nav flex-grow-1">
                        <li class="navbar-brand">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: white;"><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>

                        <li class="nav-item" style="margin-top:auto">
                            <h6><a class="nav-link"  asp-area="" asp-controller="Users" asp-action="Index" style="color: white;">Пользователи</a></h6>
                        </li>

                        <li class="nav-item" id="themes-menu" style="margin-top:auto">
                            <h6><a class="nav-link" asp-area="" asp-controller="Themes" asp-action="Index" style="color: white;">Темы</a></h6>
                        </li>

                        <li class="nav-item" style="margin-top:auto">
                            <h6><a class="nav-link" asp-area="" asp-controller="Customers" asp-action="Index" style="color: white;">Заказчики</a></h6>
                        </li>

                        <li class="nav-item" style="margin-top:auto">
                            <h6><a class="nav-link" asp-area="" asp-controller="Counterparties" asp-action="Index" style="color: white;">Соисполнители</a></h6>
                        </li>
                    </ul>

                        <ul class="navbar-nav navbar-right flex-grow-1">

                            <li class="dropdown nav-item" style="margin-left: auto; padding-right: 90px;">
                                <a href="#" class="nav-link" id="menu-login" data-toggle="dropdown" style="color:white"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu">
                                    <li><h6><a class="nav-link" id="profile" asp-area="" asp-controller="Profile" asp-action="Index" style="color: #343a40;">Профиль</a></h6></li>
                                    <li><h6><a class="nav-link" id="login-link" asp-area="" asp-controller="Authentication" asp-action="Index" style="color: #343a40;">Вход</a></h6></li>
                                    <li><h6><a class="nav-link" id="register-menu" asp-area="" asp-controller="Authentication" asp-action="RegisterPage" style="color: #343a40;">Регистрация</a></h6></li>
                                    <li><h6><a class="nav-link" id="logout-menu" asp-area="" asp-controller="Authentication" asp-action="Logout" style="color: #343a40;">Выйти</a></h6></li>
                                </ul>
                            </li>
                        </ul>

                    }

                    else if (User.Identity.Name != "" && User.Identity.Name != null)
                    {

                        <ul class="navbar-nav flex-grow-1">
                            <li class="navbar-brand">
                                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: white;"><i class="fa fa-home" aria-hidden="true"></i></a>
                            </li>

                            <li class="nav-item" id="themes-menu" style="margin-top:auto">
                                <h6><a class="nav-link" asp-area="" asp-controller="Themes" asp-action="Index" style="color: white;">Темы</a></h6>
                            </li>

                            <li class="nav-item" style="margin-top:auto">
                                <h6><a class="nav-link" asp-area="" asp-controller="Customers" asp-action="Index" style="color: white;">Заказчики</a></h6>
                            </li>

                            <li class="nav-item" style="margin-top:auto">
                                <h6><a class="nav-link" asp-area="" asp-controller="Counterparties" asp-action="Index" style="color: white;">Соисполнители</a></h6>
                            </li>
                        </ul>

                        <ul class="navbar-nav navbar-right flex-grow-1">

                            <li class="dropdown nav-item" style="margin-left: auto; padding-right: 90px;">
                                <a href="#" class="nav-link" id="menu-login" data-toggle="dropdown" style="color:white"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu">
                                    <li><h6><a class="nav-link" id="profile" asp-area="" asp-controller="Profile" asp-action="Index" style="color: #343a40;">Профиль</a></h6></li>
                                    <li><h6><a class="nav-link" id="login-link" asp-area="" asp-controller="Authentication" asp-action="Index" style="color: #343a40;">Вход</a></h6></li>
                                    <li><h6><a class="nav-link" id="register-menu" asp-area="" asp-controller="Authentication" asp-action="RegisterPage" style="color: #343a40;">Регистрация</a></h6></li>
                                    <li><h6><a class="nav-link" id="logout-menu" asp-area="" asp-controller="Authentication" asp-action="Logout" style="color: #343a40;">Выйти</a></h6></li>
                                </ul>
                            </li>
                        </ul>

                        }

                    else
                    {
                <ul class="navbar-nav flex-grow-1">
                    <li class="navbar-brand">
                        <h6><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: white;"><i class="fa fa-home" aria-hidden="true"></i></a></h6>
                    </li>
                </ul>

                        <ul class="navbar-nav navbar-right flex-grow-1">

                            <li class="dropdown nav-item" style="margin-left: auto; padding-right: 90px;">
                                <a href="#" class="nav-link" id="menu-login" data-toggle="dropdown" style="color:white"><i class="fa fa-bars" aria-hidden="true"></i></a>
                               @* <a href="#" class="dropdown-toggle nav-link" id="menu-login" data-toggle="dropdown" style="color:white">Вход<b class="caret"></b></a>*@
                                <ul class="dropdown-menu">
                                    <li><h6><a class="nav-link" id="profile" asp-area="" asp-controller="Profile" asp-action="Index" style="color: #343a40;">Профиль</a></h6></li>
                                    <li><h6><a class="nav-link" id="login-link" asp-area="" asp-controller="Authentication" asp-action="Index" style="color: #343a40;">Вход</a></h6></li>
                                    <li><h6><a class="nav-link" id="register-menu" asp-area="" asp-controller="Authentication" asp-action="RegisterPage" style="color: #343a40;">Регистрация</a></h6></li>
                                    <li><h6><a class="nav-link" id="logout-menu" asp-area="" asp-controller="Authentication" asp-action="Logout" style="color: #343a40;">Выйти</a></h6></li>
                                </ul>
                            </li>
                        </ul>

                    }

                </div>
            </div>

            </div>
            

    </header>

    <div class="container-fluid" style="color: #343a40">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #fff;">
        <div class="container">
            Автор: Самойлов Илья
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        $.ajax({
            url: '/authenticated',
            type: 'GET',
            contentType: "application/json; charset=utf-8",

            // Если выполнен вход
            success: function (data) {

                // Меню
                //document.getElementById("menu-login").innerText = "Меню";

                // Вход
                document.getElementById("login-link").style.display = "none";

                // Выход
                document.getElementById("logout-menu").style.display = "block";

                // Регистрация
                document.getElementById("register-menu").style.display = "none";

                // Профиль
                document.getElementById("profile").style.display = "block";
            },

            // Вход не выполнен (первых вход на сайт)
            error: function () {
                //document.getElementById("menu-login").innerText = "Войти";
                document.getElementById("login-link").innerText = "Вход";
                document.getElementById("logout-menu").style.display = "none";
                document.getElementById("register-menu").style.display = "block";
                document.getElementById("profile").style.display = "none";
            }
        })
    </script>

</body>
</html>
