<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/jquery-3.6.0.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="row">

                    <div class="col-sm-4">

                        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@

                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">


                            <ul class="navbar-nav flex-grow-1">

                                @*@if (User.Identity.Name == "admin"){*@
                                
                                <li class="nav-item">
                                    <h5><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">RD</a></h5>
                                </li>

                                <li class="nav-item">
                                    <h5><a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Пользователи</a></h5>
                                </li>

                                <li class="nav-item" id="themes-menu">
                                    <h5><a class="nav-link text-dark" asp-area="" asp-controller="Themes" asp-action="Index">Темы</a></h5>
                                </li>
                            </ul>
                        </div>

                    </div>

                        <div class="col-sm-4"></div>

                        <div class="col-sm-4">

                            <ul class="navbar-nav flex-grow-1">

                                <li class="nav-item">
                                    <h5><a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index" style="text-align:center"><img src="~/images/user.png" width="20%" alt="Profile"></a></h5>
                                </li>

                                <li class="nav-item">
                                    <h5><a id="login-link" class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Index">Вход</a></h5>
                                </li>

                                <li class="nav-item" id="register-menu">
                                    <h5><a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="RegisterPage">Регистрация</a></h5>
                                </li>

                                <li class="nav-item" id="logout-menu">
                                    <h5><a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Logout">Выйти</a></h5>
                                </li>
                            </ul>

                        </div>                          

                    </div>

                </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Автор: Самойлов Илья
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        $.ajax({
            url: '/authenticated',
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                document.getElementById("login-link").innerText = data;
                document.getElementById("logout-menu").style.display = "block";
                document.getElementById("register-menu").style.display = "none";
            },
            error: function () {
                document.getElementById("login-link").innerText = "Вход";
                document.getElementById("logout-menu").style.display = "none";
                document.getElementById("register-menu").style.display = "block";
            }
        })
    </script>

</body>
</html>
