@model RD.Models.Stage;

@{
    ViewBag.Title = "Новый этап";
    Layout = "_Layout";
}


<form method="post" asp-action="AddStage" class="my-2 col-10" style="border-style: dashed; border-width:thin; border-color: #343a40; padding: 8px; ">
    <table>
        <h2>Новый этап</h2>

        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="№ этапа" name="Number" />
            </td>
            <td style="padding: 4px;">
                <input type="text" placeholder="Срок - начало" name="Name" />
            </td>
            <td style="padding: 4px;">
                <input type="text" placeholder="Срок - конец" name="" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">
                <input type="text" placeholder="Сумма этапа" name="" />
            </td>
            <td style="padding: 4px;">
                <input type="text" placeholder="Акт о завершении" name="" />
            </td>
            <td style="padding: 4px;">
                <input type="text" placeholder="Статус" name="" />
            </td>
        </tr>


        <tr>
            <td style="padding: 2px;">
                <a class="btn btn-primary" href="/Stages?themeName=@ViewBag.ThemeName" style="text-align:center"> Назад </a>
            </td>
            <td style="padding: 2px;">
                <input type="submit" value="Добавить этап" />
            </td>
        </tr>

    </table>
</form>