@model RD.Models.Stage;

@{
    ViewBag.Title = "Новый этап";
    Layout = "_Layout";
}

<h3>Новый этап</h3>

<form method="post" asp-action="AddStage" style="border-color: #343a40;">

    <table>

        <tr>
            <td style="padding: 4px;">№ этапа:</td>
            <td style="padding: 4px;">
                <input type="text" name="StageNumber" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Наименование этапа:</td>
            <td style="padding: 4px;">
                <input type="text" name="StageName" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Срок - начало:</td>
            <td style="padding: 4px;">
                <input type="date" id="WorkStart" name="WorkStart" min="1950-01-01" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Срок - конец:</td>
            <td style="padding: 4px;">
                <input type="date" id="WorkEnd" name="WorkEnd" min="1950-01-01" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Сумма этапа:</td>
            <td style="padding: 4px;">
                <input type="number" name="Amount" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Акт о завершении:</td>
            <td style="padding: 4px;">
                <input type="text" name="CompletionAct" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Статус:</td>
            <td style="padding: 4px;">
                <input type="text" name="Status" />
            </td>
        </tr>


        <br />

        <tr>

            <td style="padding: 4px;">
                <a class="nav-link btn btn-outline-dark" href="/Stages/Index/@ViewBag.ThemeId?themeName=@ViewBag.ThemeName">Отмена</a>
            </td>

            <td style="padding: 4px;">
                <input type="submit" class="btn btn-outline-primary" value="Добавить этап" />
            </td>

        </tr>

    </table>


</form>