@model RD.Models.AnnualFinancing;

@{
    ViewBag.Title = "Добавление финансирования";
    Layout = "_Layout";
}


<h3>Добавление финансирования</h3>

<form method="post" asp-action="AddAnnualFinancing" style="border-color: #343a40;">

    <table>

        <tr>
            <td style="padding: 4px;">Год:</td>
            <td style="padding: 4px;">
                <input type="number" name="Year" required />
            </td>
        </tr>
        <tr>
            <td style="padding: 4px;">Сумма:</td>
            <td style="padding: 4px;">
                <input type="number" name="Amount" required />
            </td>
        </tr>

        <input name="ThemeId" type="text" hidden value="@ViewBag.ThemeId" />

        <tr>
            <td style="padding: 4px;">
            </td>

            <td style="padding: 4px;">
                <a class="btn btn-outline-dark" href="/Stages?themeId=@ViewBag.ThemeId&themeName=@ViewBag.ThemeName" style="text-align:center">Отмена</a>
                <input class="btn btn-primary" type="submit" value="Добавить финансирование" />
            </td>

            <td style="padding: 4px;">
            </td>
        </tr>

    </table>
</form>

