@{
    ViewData["Title"] = "Вход";
}

<form method="post" asp-action="Login">
    <p>
        <label>Логин</label>
        <br />
        <input name="username" />
    </p>
    <p>
        <label>Пароль</label>
        <br />
        <input type="password" name="password" />
    </p>
    <input type="submit" value="Войти" />
</form>