@model RD.Models.Customer;

@{
    ViewBag.Title = "Редактирование заказчика";
    Layout = "_Layout";
}

    <h3>Изменение заказчика</h3>


@using (Html.BeginForm("Edit", "Customers", FormMethod.Post))
{
    <table>
        @Html.HiddenFor(m => m.Id)
        <tr>
            <td style="padding: 4px;">Имя:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.Name)
            </td>
        </tr>

        <br/>

        <tr>
            <td style="padding: 4px;">
            </td>

            <td style="padding: 4px;">
                <input type="button" class="btn btn-outline-dark" value="Отмена" onClick='location.href="/Customers"' />
                <input class="btn btn-primary" style="margin-left: 6px;" type="submit" value="Изменить заказчика" />
            </td>

            <td style="padding: 4px;">
            </td>
        </tr>

    </table>
}