@model RD.Models.Customer;

@{
    ViewBag.Title = "Заказчики";
    Layout = "_Layout";
}

<table class="table table-hover " style="text-align: center;">

    <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
    </thead>

    <tbody>
        @foreach (var customer in @ViewBag.Customers)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@Html.ActionLink("изменить", "Customer", new { id = customer.Id })</td>
                <td><a onclick="deleteUser('@customer.Id')" href="#"> удалить </a></td>
            </tr>
        }
    </tbody>
</table>
<form method="post" asp-action="Customers" class="my-5 col-5" style="border-style: dashed; border-width:thin; border-color: #343a40; padding: 8px; ">
    <table>
        <h4>Добавление заказчиков</h4>

        <tr>
            <td style="padding: 4px;">Имя:</td>
            <td style="padding: 4px;">
                <input name="Name" />
            </td>
        </tr>
       

        <tr>
            <td style="padding: 2px;">
                <input type="submit" value="Добавить" />
            </td>
            <td></td>
        </tr>

    </table>
</form>


<script type="text/javascript">
        function deleteUser(userId) {
            $.ajax({
                url: '/delete_customer/' + userId,
                type: 'DELETE',
                contentType: "application/json; charset=utf-8",
                success: function () {
                    location.reload()
                },
                error: function () {
                    alert("Ошибка выполнения!")
                }
            })
        }
</script>