@model RD.Models.TRL;

@{
    ViewBag.Title = "TRL";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 style="color: #343a40;">TRL</h3>
        </div>
    </div>
</div>




<div class="mb-3 row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4 col-form-label"><h5>Выберите вариант оценки TRL</h5></div>

    <div class="col-sm-4"></div>

</div>

<br>

<div class="mb-3 row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <a class="nav-link btn btn-outline-primary" asp-controller="TRLs" asp-route-themeName="@ViewBag.ThemeName" asp-action="TRLPage1">1. Оборудование: оцениваемая технология (система) не содержит встроенного программного обеспечения</a> 
    @*    <input type="button" class="btn btn-outline-dark" value="Вариант 1" onClick='location.href="/"' />*@
    </div>

    <div class="col-sm-4"></div>

</div>


<div class="mb-3 row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <a class="nav-link btn btn-outline-primary" asp-controller="TRLs" asp-route-themeName="@ViewBag.ThemeName" asp-action="TRLPage2">2. Программное обеспечение: оцениваемая технология (система) является программным обеспечением и в рамках ее разработки оборудование не разрабатывается</a>
    </div>

    <div class="col-sm-4"></div>

</div>

<div class="mb-3 row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <a class="nav-link btn btn-outline-primary" asp-controller="TRLs" asp-route-themeName="@ViewBag.ThemeName" asp-action="TRLPage3">3. Комплексная система: оцениваемая технология (система) представляет собой оборудование со встроенным программным обеспечением или программно-аппаратный комплекс, при разработке которого разрабатывается как оборудование, так и необходимое для его использования программное обеспечение</a> 
    </div>

    <div class="col-sm-4"></div>

</div>


<div class="mb-3 row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <a class="btn btn-outline-dark" href="/Stages?themeName="@ViewBag.ThemeName" style="text-align:center">Назад</a>
    </div>

    <div class="col-sm-4"></div>

</div>

