@{
    ViewBag.Title = "Добавление темы";
    Layout = "_Layout";
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<h3>Добавление темы</h3>

<form method="post" asp-action="AddTheme" name="addThemeForm" style="border-color: #343a40;">

    <table>

        <tr>
            <td style="padding: 4px;">Номер темы:</td>
            <td style="padding: 4px;">
                <input type="text" name="Number" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Наименование темы:</td>
            <td style="padding: 4px;">
                <input type="text" name="Name" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">ФИО руководителя:</td>
            <td style="padding: 4px;">
                <input type="text" name="FioManager" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Подразделение исполнитель:</td>
            <td style="padding: 4px;">
                <input type="text" name="ExecutiveDepartment" />
            </td>
        </tr>



        @* Заполнение списка из массива заказчиков*@

        <tr>
            <td style="padding: 4px;">Заказчик работы:</td>
            <td style="padding: 4px;">
                @*<input type="text" name="CustomerName" />*@
                <select id="model">
                    <option selected> </option>
                    @foreach (var customer in @ViewBag.Customers)
                    {
                        <option value="@customer.Name">@customer.Name</option>
                    }
                </select>
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Срок - начало:</td>
            <td style="padding: 4px;">
                <input type="date" id="WorkStart" name="WorkStart" min="1950-01-01" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Срок - конец:</td>
            <td style="padding: 4px;">
                <input type="date" id="WorkEnd" name="WorkEnd" min="1950-01-01" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Приказ об открытии темы:</td>
            <td style="padding: 4px;">
                <input type="text" name="Decree" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Вид документа:</td>
            <td style="padding: 4px;">
                <select name="DocType" size="1">
                    <option value="Гос. Контракт">Гос. Контракт</option>
                    <option value="Договор">Договор</option>
                    <option value="Контракт">Контракт</option>
                    <option value="Хоз. договора">Хоз. договора</option>
                </select>
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Общий объем финансирования:</td>
            <td style="padding: 4px;">
                <input type="number" name="Amount" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">НДС:</td>
            <td style="padding: 4px;">
                <input type="number" name="Vat" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Объем без НДС:</td>
            <td style="padding: 4px;">
                <input type="number" name="AmountWithoutVat" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Реквизиты документа:</td>
            <td style="padding: 4px;">
                <input type="text" name="Props" />
            </td>
        </tr>



        @*Кастомное поле выбора из списка*@

        <tr>

            <td style="padding: 4px;">Тип исследования:</td>
            <td style="padding: 4px;">
                <div class="select">
                    <select name="ResearchType" size="1">
                        <option value="Прикладное" selected>Прикладное</option>
                        <option value="Фундаментальное">Фундаментальное</option>
                        <option value="Разработка">Разработка</option>
                        <option value="Поисковое">Поисковое</option>
                        <option value="ОКР">ОКР</option>
                        <option value="Пользовательское" id="selectCustom" > </option>
                    </select>
                </div>

            </td>

            <td style="padding: 4px;">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" onclick="showCustomInput()" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Ввести свое значение</label>
                </div>
            </td>


            <td style="padding: 4px;">
                <div id="customObj" style="display:none;">
                    <input type="text" id="inputCustom">
                    <button class="btn btn-primary" type="button" onclick="useCustomText()">Выбрать</button>
                </div>
            </td>


        </tr>

        <tr>
            <td style="padding: 4px;">Область знания:</td>
            <td style="padding: 4px;">
                <input type="text" name="Knowledge" />
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Статус:</td>
            <td style="padding: 4px;">
                <input type="text" name="Status" />
            </td>
        </tr>

        <br />

        <tr>
            <td style="padding: 4px;">
            </td>

            <td style="padding: 4px;">
                <a class="btn btn-outline-dark" href="/Themes" style="text-align:center">Отмена</a>
                <input type="submit" class="btn btn-outline-primary submitBtn" value="Добавить тему" />
            </td>

            <td style="padding: 4px;">
            </td>
        </tr>

    </table>

</form>


<script>
    function showCustomInput() {
        var customObj = document.getElementById('customObj');
        if (customObj.style.display == '')
            customObj.style.display = 'none';
        else
            customObj.style.display = '';
    }

    function useCustomText() {
        var selectCustom = document.getElementById("selectCustom");
        var inputCustom = document.getElementById("inputCustom");
        selectCustom.selected = true;
        selectCustom.text = inputCustom.value;
        selectCustom.value = inputCustom.value;
    }

</script>



@section scripts
        {
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".submitBtn").click(function (e) {

                let addThemeForm = document.forms.addThemeForm;

                let number = addThemeForm.elements.Number.value;
                let name = addThemeForm.elements.Name.value;

                if (number == "") {
                    e.preventDefault();
                    $.get(this.href, function () {
                        $('#dialogContent').html('<div class="modal-content"> <div class="modal-header"><h4>Ошибка</h4><button class="close" data-dismiss="modal" area-hidden="true">x</button></div><div class="modal-body"> <dl class="dl-horizontal"> <dt>Ошибка:</dt> <dd>Введите номер темы</dd> </dl> </div> </div>');
                        $('#modDialog').modal('show');
                    });

                }

                else if (name == "") {
                    e.preventDefault();
                    $.get(this.href, function (data) {
                        $('#dialogContent').html('<div class="modal-content"> <div class="modal-header"><h4>Ошибка</h4><button class="close" data-dismiss="modal" area-hidden="true">x</button></div><div class="modal-body"> <dl class="dl-horizontal"> <dt>Ошибка:</dt> <dd>Введите название темы</dd> </dl> </div> </div>');
                        $('#modDialog').modal('show');
                    });

                }

            });
        })
    </script>

}