@{
    ViewBag.Title = "Добавление темы";
    Layout = "_Layout";
}

<h3>Добавление темы</h3>
<br>

<form method="post" asp-action="AddTheme" sstyle="border-color: #343a40;">

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Номер темы</label>
        <div class="col-sm-10">
            <input type="text" name="Number" class="form-control"  />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Наименование темы</label>
        <div class="col-sm-10">
            <input type="text" name="Name" class="form-control" />
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">ФИО руководителя</label>
        <div class="col-sm-10">
            <input type="text" name="FioManager" class="form-control"  />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Подразделение исполнитель</label>
        <div class="col-sm-10">
            <input type="text" name="ExecutiveDepartment" class="form-control"  />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Заказчик работы</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="CustomerName"  />
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Срок - начало</label>
        <div class="col-sm-10">
            <input type="date" id="WorkStart" class="form-control" name="WorkStart"  min="1950-01-01" />
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Срок - конец</label>
        <div class="col-sm-10">
            <input type="date" id="WorkEnd" class="form-control" name="WorkEnd"  min="1950-01-01" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Приказ об открытии темы</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Decree"  />
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Вид документа</label>
        <div class="col-sm-10">
            <select name="DocType" size="1" class="form-control">

                <option value="Гос. Контракт">Гос. Контракт</option>

                <option value="Договор">Договор</option>

                <option value="Контракт">Контракт</option>

                <option value="Хоз. договора">Хоз. договора</option>

            </select>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Общий объем финансирования</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="Amount"  />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">НДС</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="Vat"  />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Объем без НДС</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="AmountWithoutVat"  />
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Реквизиты документа</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Props" />
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Тип исследования</label>
        <div class="col-sm-10">
            <select name="ResearchType" size="1" class="form-control">
                <option value="Прикладное">Прикладное</option>
                <option value="Фундаментальное">Фундаментальное</option>
                <option value="Разработка">Разработка</option>
                <option value="Поисковое">Поисковое</option>
                <option value="ОКР">ОКР</option>
            </select>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Область знания</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Knowledge"  />
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Статус</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Status"  />
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-4 col-form-label"></div>

        <div class="col-sm-2">
            <input type="button" class="btn btn-outline-dark" style="margin-left: 15px;" value="Отмена" onClick='location.href="/Themes"' />
        </div>

        <div class="col-sm-2">
            <input class="btn btn-outline-primary" type="submit" value="Добавить тему" />            
        </div>

        <div class="col-sm-4 col-form-label"></div>
    </div>


</form>